.cart_page {
  padding: 24px 16px 56px 16px;
  margin: 0 auto;
  max-width: 1136px;
  box-sizing: border-box;

  @media (min-width: 640px) {
    padding: 24px 24px 64px 24px;
  }

  @media (min-width: 1200px) {
    padding: 40px 32px 80px 32px;
  }
  .back_btn {
    font-family: Mont;
    font-weight: 500;
    font-size: 12px;
    line-height: 15.34px;
    color: rgba(137, 147, 154, 1);
    text-decoration: none;
    margin-bottom: 24px;
    display: block;

    @media (min-width: 640px) {
      margin-bottom: 16px;
    }

    &::before {
      content: url(../../assets/VectorLeftBlack.png);
      margin-right: 9.33px;
    }
  }
  .page_title {
    font-family: Mont;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    color: rgba(49, 50, 55, 1);
    margin: 0;
    margin-bottom: 32px;
  }
  .cart_content {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (min-width: 1200px) {
      margin-bottom: 0;
      flex-direction: row;
      gap: 16px;
    }

    .cart_items {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @media (min-width: 1200px) {
        width: 66%;
      }

      .cart_item {
        border: 1px solid rgba(226, 230, 233, 1);
        padding: 23px 16px;
        display: flex;
        flex-direction: column;
        gap: 23px;

        @media (min-width: 640px) {
          padding: 31px 24px;
          flex-direction: row;
        }

        .cart_item_main {
          display: flex;
          gap: 23px;
          align-items: center;

          @media (min-width: 640px) {
            gap: 31px;
            width: 60%;
          }
          .remove_btn {
            cursor: pointer;
            width: 16px;
            height: 16px;
            position: relative;
            background-color: transparent;
            border: none;

            &::before {
              content: url(../../assets/Close.png);
              position: absolute;
              top: -1px;
              left: -2px;
            }
          }
          .item_img {
            width: 22%;

            @media (min-width: 640px) {
              width: 26%;
            }
          }
          .item_name {
            font-family: Mont;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: rgba(49, 50, 55, 1);
          }
        }
      }
      .cart_item_info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: 640px) {
          width: 40%;
        }

        .item_quantity {
          display: flex;
          gap: 13px;
          align-items: center;

          .decrease_btn {
            cursor: pointer;
            background-color: transparent;
            width: 32px;
            height: 32px;
            border: 1px solid rgba(180, 189, 195, 1);
            box-sizing: border-box;
            position: relative;
            &:hover {
              border: 1px solid rgba(49, 50, 55, 1);
            }

            &:disabled {
              cursor: not-allowed;
              border: 1px solid rgba(226, 230, 233, 1);
            }

            &::before {
              content: url(../../assets/Minus.png);
              position: absolute;
              top: 8px;
              left: 7px;
            }
          }

          .quantity_span {
            font-family: Mont;
            font-size: 14px;
            line-height: 21px;
            color: rgba(0, 0, 0, 1);
            
          }
          .increase_btn {
            cursor: pointer;
            background-color: transparent;
            width: 32px;
            height: 32px;
            position: relative;
            box-sizing: border-box;
            border: 1px solid rgba(180, 189, 195, 1);

            &:hover {
              border: 1px solid rgba(49, 50, 55, 1);
            }

            &::before {
              content: url(../../assets/Plus.png);
              position: absolute;
              top: 8px;
              left: 7px;
            }

          }
        }

        .price {
          font-family: Mont;
          font-weight: 700;
          font-size: 22px;
          line-height: 30.8px;
          color: rgba(49, 50, 55, 1);
        }
      }
    }
  }

  .checkout_div {
    border: 1px solid rgba(226, 230, 233, 1);
    padding: 24px;
    height: max-content;
    @media (min-width: 1200px) {
      width: 30%;
    }
    .total_price {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid rgba(226, 230, 233, 1);
      text-align: center;
      margin-bottom: 16px;

      @media (min-width: 1200px) {
        margin-bottom: 24px;
      }
      .price_span {
        font-family: Mont;
        font-weight: 800;
        font-size: 32px;
        line-height: 41px;
        color: rgba(49, 50, 55, 1);
      }
      .total_quantity {
        margin-bottom: 16px;
        font-family: Mont;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: rgba(137, 147, 154, 1);

        @media (min-width: 1200px) {
          margin-bottom: 24px;
        }
      }
    }
    .checkout_btn {
      border: none;
      background-color: rgba(49, 50, 55, 1);
      color: rgba(255, 255, 255, 1);
      height: 48px;
      width: 100%;
      font-family: Mont;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      cursor: pointer;

      &:hover {
        box-shadow: 0 3px 13px 0 rgba(23, 32, 49, 0.4);
      }
    }
  }
}
