.product_page {
  max-width: 1136px;
  margin: 0 auto;
  padding: 25px 0 56px 16px;

  @media (min-width: 640px) {
    padding: 25px 0 64px 24px;
  }

  @media (min-width: 1200px) {
    padding: 25px 0 81px 0;
  }

  .path {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    padding-right: 16px;

    @media (min-width: 640px) {
      margin-bottom: 40px;
      padding-right: 24px;
    }

    @media (min-width: 1200px) {
      padding-right: 0;
    }

    .icon_home {
      width: 13.3px;
      height: 14.7px;
      margin-right: 14.6px;
      display: flex;
    }

    .icon_right {
      margin-right: 13.3px;
    }

    .link {
      text-decoration: none;
      .path_span {
        font-family: Mont;
        font-weight: 500;
        font-size: 12px;
        line-height: 15.34px;
        color: rgba(137, 147, 154, 1);
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-right: 13.3px;

        &:hover {
          color: rgba(49, 50, 55, 1);
        }
      }
    }

    .path_id_span {
      font-family: Mont;
      font-weight: 500;
      font-size: 12px;
      line-height: 15.34px;
      color: rgba(137, 147, 154, 1);
      cursor: pointer;

      &:hover {
        color: rgba(49, 50, 55, 1);
      }
    }
  }

  .back_btn {
    font-family: Mont;
    font-weight: 500;
    font-size: 12px;
    line-height: 15.34px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgba(137, 147, 154, 1);
    display: flex;
    gap: 4px;
    margin-bottom: 16px;
    text-decoration: none;
    padding-right: 16px;

    @media (min-width: 640px) {
      padding-right: 24px;
    }

    @media (min-width: 1200px) {
      padding-right: 0;
    }

    &:hover {
      color: rgba(49, 50, 55, 1);
    }

    &::before {
      content: url(../../assets/VectorLeftBlack.png);
    }
  }

  .product_name {
    font-family: Mont;
    font-weight: 800;
    font-size: 22px;
    line-height: 30.8px;
    color: rgba(49, 50, 55, 1);
    margin-bottom: 32px;
    display: block;
    padding-right: 16px;

    @media (min-width: 640px) {
      padding-right: 24px;
      font-size: 32px;
      line-height: 41px;
      margin-bottom: 40px;
    }

    @media (min-width: 1200px) {
      padding-right: 0;
    }
  }

  .product_main {
    display: flex;
    flex-direction: column;
    padding-right: 16px;
    overflow: hidden;
    gap: 40px;

    @media (min-width: 640px) {
      gap: 16px;
      padding-right: 24px;
      flex-direction: row;
    }

    .images {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 40px;
      width: 100%;

      @media (min-width: 640px) {
        flex-direction: row;
        margin-bottom: 0;
      }

      .small_images {
        order: 1;
        display: flex;
        gap: 8px;
        margin: 0 auto;

        @media (min-width: 640px) {
          order: 0;
          flex-direction: column;
          margin: 0;
          height: 100%;
        }

        .small_image {
          cursor: pointer;
          height: 42px;
          width: 48px;
          padding: 3px 0;
          border: 1px solid rgba(196, 196, 196, 1);

          @media (min-width: 640px) {
            height: 29px;
            width: 35px;
          }

          @media (min-width: 1200px) {
            height: 74px;
            width: 80px;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }

          &_active {
            padding: 3px 0;
            cursor: pointer;
            border: 1px solid rgba(49, 50, 55, 1);

            height: 42px;
            width: 48px;

            @media (min-width: 640px) {
              height: 29px;
              width: 35px;
            }

            @media (min-width: 1200px) {
              height: 72px;
              width: 80px;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }

      .main_image {
        height: 288px;
        order: 0;
        width: 100%;

        @media (min-width: 640px) {
          width: 90%;
          order: 1;
          height: fit-content;
        }

        img {
          object-fit: contain;
          max-height: 464px;

          width: 100%;
          height: 100%;
        }
      }
    }

    .product_settings {
      width: 100%;

      @media (min-width: 640px) {
      }

      .color_settings {
        display: flex;
        border-bottom: 1px solid rgba(226, 230, 233, 1);
        margin-bottom: 24px;
        width: 100%;
        flex-direction: column;
        gap: 8px;
        .color_title {
          font-family: Mont;
          font-weight: 600;
          font-size: 12px;
          line-height: 15.34px;
          color: rgba(137, 147, 154, 1);
        }

        .available_colors {
          display: flex;
          margin-bottom: 24px;
          gap: 8px;

          .choose_color_btn_div {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 1px solid rgba(226, 230, 233, 1);
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            cursor: pointer;
            transition: border-color 0.2s;

            &:hover {
              border-color: rgba(180, 189, 195, 1);
            }

            &.active {
              border-color: rgba(49, 50, 55, 1);
            }

            input {
              display: none;
            }

            .circle {
              width: 28px;
              height: 28px;
              border-radius: 50%;
              border: 2px solid rgba(255, 255, 255, 1);
            }
          }
        }
      }

      .capacity_settings {
        border-bottom: 1px solid rgba(226, 230, 233, 1);
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 32px;

        .capacity_span {
          font-family: Mont;
          font-weight: 600;
          font-size: 12px;
          line-height: 15.34px;
          color: rgba(137, 147, 154, 1);
        }

        .capacity_buttons {
          display: flex;
          gap: 8px;
          margin-bottom: 24px;
          .capacity_btn {
            border: 1px solid rgba(180, 189, 195, 1);
            background-color: transparent;
            font-family: Mont;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            padding: 7px 8px 4px 8px;
            cursor: pointer;

            &:hover {
              border: 1px solid rgba(49, 50, 55, 1);
            }
          }

          .capacity_btn_active {
            border: 1px solid rgba(180, 189, 195, 1);
            background-color: rgba(49, 50, 55, 1);
            color: white;
            font-family: Mont;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            padding: 7px 8px 4px 8px;
            cursor: pointer;
          }
        }
      }

      .confirmation {
        .price {
          margin-bottom: 16px;
          display: flex;
          gap: 8px;
          align-items: center;

          .price_span {
            font-family: Mont;
            font-weight: 500;
            font-size: 22px;
            line-height: 28.12px;
            color: rgba(137, 147, 154, 1);
            text-decoration: line-through;
          }

          .price_discount_span {
            font-family: Mont;
            font-weight: 800;
            font-size: 32px;
            line-height: 41px;
            color: rgba(49, 50, 55, 1);
          }
        }
      }

      .buttons {
        display: flex;
        gap: 8px;
        margin-bottom: 32px;

        .add_btn {
          color: white;
          background-color: rgba(49, 50, 55, 1);
          border: none;
          cursor: pointer;
          font-family: Mont;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          height: 48px;
          width: 100%;

          &:hover {
            box-shadow: 0 3px 13px 0 rgba(23, 32, 49, 0.4);
          }
        }

        .add_btn_active {
          @extend .add_btn;
          background-color: transparent;
          color: rgba(39, 174, 96, 1);

          border: 1px solid rgba(226, 230, 233, 1);
          &:hover {
            border: 1px solid rgb(167, 170, 187);
            box-shadow: 0 0px 0px 0 rgba(23, 32, 49, 0.4);
          }
        }

        .fav_btn {
          background-color: transparent;
          border: 1px solid rgba(180, 189, 195, 1);
          height: 48px;
          width: 48px;
          cursor: pointer;
          position: relative;

          &:hover {
            border: 1px solid rgba(49, 50, 55, 1);
          }

          &::after {
            content: url(../../assets/FavoritesLogo.png);
            position: absolute;
            top: 17px;
            left: 13px;
          }

          &_active {
            background-color: transparent;
            border: 1px solid rgba(226, 230, 233, 1);
            height: 48px;
            width: 48px;
            cursor: pointer;
            position: relative;

            &:hover {
              border: 1px solid rgba(180, 189, 195, 1);
            }

            &::after {
              content: url(../../assets//RedFavorite.png);
              position: absolute;
              top: 16px;
              left: 13px;
            }
          }
        }
      }

      .characteristics {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 56px;

        @media (min-width: 640px) {
          margin-bottom: 0;
        }
        .info {
          display: flex;
          justify-content: space-between;
          .characteristic_name {
            font-family: Mont;
            font-weight: 500;
            font-size: 12px;
            line-height: 15.34px;
            color: rgba(137, 147, 154, 1);
          }

          .characteristic_value {
            font-family: Mont;
            font-weight: 500;
            font-size: 12px;
            line-height: 15.34px;
            color: rgba(49, 50, 55, 1);
          }
        }
      }
    }
  }

  .product_info {
    display: flex;
    flex-direction: column;

    @media (min-width: 1200px) {
      flex-direction: row;
      gap: 64px;
    }
    .product_description {
      padding-right: 16px;
      margin-bottom: 56px;

      @media (min-width: 640px) {
        padding-right: 24px;
        margin-bottom: 64px;
      }

      @media (min-width: 1200px) {
        width: 50%;
        padding-right: 0;
        margin-bottom: 80px;
      }

      .product_about {
        .about_title {
          border-bottom: 1px solid rgba(226, 230, 233, 1);

          .about_span {
            font-family: Mont;
            font-weight: 500;
            font-size: 20px;
            line-height: 25.56px;
            color: rgba(49, 50, 55, 1);

            @media (min-width: 640px) {
              font-weight: 600;
              font-size: 22px;
              line-height: 30.8px;
            }
          }
        }

        .paragraph_about {
          .paragraph_title {
            font-family: Mont;
            font-weight: 500;
            font-size: 16px;
            line-height: 20.45px;
            color: rgba(49, 50, 55, 1);

            @media (min-width: 640px) {
              font-size: 20px;
              line-height: 25.56px;
            }
          }

          .paragraph_text {
            font-family: Mont;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: rgba(137, 147, 154, 1);
          }
        }
      }
    }
    .product_specifications {
      padding-right: 16px;
      margin-bottom: 56px;

      @media (min-width: 640px) {
        padding-right: 24px;
        margin-bottom: 64px;
      }

      @media (min-width: 1200px) {
        width: 50%;
        padding-right: 0;
        margin-bottom: 80px;
      }
      .specifications_title {
        border-bottom: 1px solid rgba(226, 230, 233, 1);
        margin-bottom: 30px;

        @media (min-width: 640px) {
          margin-bottom: 25px;
        }
        .specifications_span {
          font-family: Mont;
          font-weight: 500;
          font-size: 20px;
          line-height: 25.56px;
          color: rgba(49, 50, 55, 1);

          @media (min-width: 640px) {
            font-weight: 700;
            font-size: 22px;
            line-height: 30.8px;
          }
        }
      }

      .specification_info {
        display: flex;
        justify-content: space-between;
        .characteristic_name {
          font-family: Mont;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          color: rgba(137, 147, 154, 1);
        }

        .characteristic_value {
          font-family: Mont;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          color: rgba(49, 50, 55, 1);
        }
      }
    }
  }
}
