.footer {
  width: 100%;
  box-shadow: 0px -1px 0px 0px rgba(226, 230, 233, 1);

  .footer_content {
    max-width: 1136px;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: center;

    @media (max-width: 640px) {
      flex-direction: column;
      padding: 32px 24px;
      gap: 32px;
    }

    @media (min-width: 1200px) {
      padding: 32px 0;
    }

    .logo {
      @media (max-width: 640px) {
        text-align: left;
        width: 100%;
      }
    }

    .navigation {
      display: flex;
      justify-content: space-between;
      width: 30%;

      @media (max-width: 640px) {
        text-align: left;
        width: 100%;
        flex-direction: column;
        gap: 16px;
      }
      .navigation_link {
        text-decoration: none;
        font-family: Mont;
        font-weight: 500;
        font-size: 12px;
        line-height: 11px;
        color: rgba(137, 147, 154, 1);

        &:hover {
          color: rgba(49, 50, 55, 1);
        }
      }
    }

    .to_top_button_div {
      align-items: center;
      display: flex;
      gap: 16px;

      

      .to_top_button_span {
        font-family: Mont;
        font-weight: 500;
        font-size: 12px;
        line-height: 15.34px;
        color: rgba(137, 147, 154, 1);
      }

      .to_top_button {
        cursor: pointer;
        border: 1px solid rgba(180, 189, 195, 1);
        width: 32px;
        height: 32px;
        background-color: transparent;
        position: relative;

        &:hover {
          border: 1px solid rgba(49, 50, 55, 1);

        }

        &::after {
          content: url(../../assets/VectorTopBlack.png);

        }
      }

      
    }
  }
}
